{
  "extends": ["es/browser", "plugin:react/recommended"],
  "env": {
    "browser": true
  },
  "plugins": ["eslint-plugin-react"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/prop-types": "off"
  }
}
